.custom_tree_column
[data-name="open_registrant_form"]{
width: 40px !important;
max-width: 40px !important;
},

[data-id="open_registrant_form"]{
width: 40px !important;
max-width: 40px !important;
},
